{% layout "layout.liquid" %}
{% block content %}

  <div id="logo-container">
    <div id="text-container">
      <h1>GTA Real Estate</h1>

      <h2>YOLO REALITY</h2>
    </div>
    <div id="img-container">
      <img id="logo" src="./images/house.png">
    </div>
    <span class="rise-shake">"Thinking of moooving? Create a New Property to list your home at no cost and get top dollar for it!"- </span>
<img class="cow"src="https://www.freepnglogos.com/uploads/cow-png/cow-did-you-know-there-are-different-types-leather-14.png" alt="a cow with veneers">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  


{% endblock %}